{{! TODO: Something in here needs to become a flex box so history is to the side of the roller}}
<script src="/diceRoller.js" defer></script>
<script src="/rollHistory.js" charset="utf-8" defer></script>
<div class="dice-roller-container">
    <div class="dice-section">
        <div class="dice-count-header">
            Dice to Roll
        </div>
        <div class="dice-container">
            <div class="d4 dice-container">
                <button class="dice-roll-value-button inc-button">+</button>
                <button class="dice-roll-value-button dec-button">-</button>
                <input class="dice-count-input" type="number"  name="d4" min="0" value="0" autocomplete="off"/>
                <span class="dice-value">d4</span>
            </div>
            <div class="d6 dice-container">
                <button class="dice-roll-value-button inc-button">+</button>
                <button class="dice-roll-value-button dec-button">-</button>
                <input class="dice-count-input" type="number"  name="d6" min="0" value="0" autocomplete="off"/>
                <span class="dice-value">d6</span>
            </div>
            <div class="d8 dice-container">
                <button class="dice-roll-value-button inc-button">+</button>
                <button class="dice-roll-value-button dec-button">-</button>
                <input class="dice-count-input" type="number"  name="d8" min="0" value="0" autocomplete="off"/>
                <span class="dice-value">d8</span>
            </div>
            <div class="d10 dice-container">
                <button class="dice-roll-value-button inc-button">+</button>
                <button class="dice-roll-value-button dec-button">-</button>
                <input class="dice-count-input" type="number"  name="d10" min="0" value="0" autocomplete="off"/>
                <span class="dice-value">d10</span>
            </div>
            <div class="d12 dice-container">
                <button class="dice-roll-value-button inc-button">+</button>
                <button class="dice-roll-value-button dec-button">-</button>
                <input class="dice-count-input" type="number"  name="d12" min="0" value="0" autocomplete="off"/>
                <span class="dice-value">d12</span>
            </div>
            <div class="d20 dice-container">
                <button class="dice-roll-value-button inc-button">+</button>
                <button class="dice-roll-value-button dec-button">-</button>
                <input class="dice-count-input" type="number"  name="d20" min="0" value="0" autocomplete="off"/>
                <span class="dice-value">d20</span>
            </div>
        </div>
        <div class="modifier-header">
            Modifier
        </div>
        <div class="modifer-container">
            <button class="dice-roll-value-button inc-button">+</button>
            <button class="dice-roll-value-button dec-button">-</button>
            <input class="modifier-input" type="number"  name="modifier" value="0" autocomplete="off"/>
        </div>
        <div class="dice-roll-output-container">
            <button class="dice-roll-accept">Roll!</button>
            <p class="dice-roll-output">0</p>
        </div>
    </div>
    <div class="roll-history">
    </div>

</div>