<div class="window" id="{{id}}"  onclick="bringToFront('{{id}}')">
  <div class="window-header" onmousedown="startDrag(event, '{{id}}')">{{name}}</div>
  <div class="window-content">
    {{> diceRoller}}
  </div>
</div>