<div class="window" id="window1"  onclick="bringToFront('window1')">
  <div class="window-header" onmousedown="startDrag(event, 'window1')">Window 1</div>
  <div class="window-content">
    {{> diceRoller}}
  </div>
</div>